<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- custom css -->
    <link rel="stylesheet" href="formating.css">
    
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <nav id="navbar_style" class="navbar navbar-expand-lg navbar-light fixed-top nav-tabs">
        <a class="navbar-brand js-scroll-trigger" href="#contain"  style="color:#D99600"><i><b>Koncept Interiors</b></i></a>
           <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#services"  style="color:#D99600">Projects</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#portfolio"  style="color:#D99600">Why Us?</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#about"  style="color:#D99600">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#team"  style="color:#D99600">Team</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#contact"  style="color:#D99600">Contact</a>
              </li>
            </ul>
     </nav>
     
     <section id="about-us-ls" class="gray-bg" style="background-color: #000000">
        <div class="container-fluid">
        <section id="why-livspace">
           <div class="container">
              <h2 class="sub-head" style="color:#D99600; text-align: center; padding-top: 70px;">Home Decor Done Right</h2>
              <div class="row" style="padding-top: 25px;">
                 <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2'>
                    <img style='width:194px;height:194px' class='img-lazy img-responsive img-circle' data-original=adminpanel/Images/AboutUsImg/11creative766755372.jpg width='194' height='194' src='' />
                    <noscript><img style='width:194px;height:194px' class='img-responsive img-circle' src=adminpanel/Images/AboutUsImg/11creative766755372.jpg /></noscript>
                    <div class='caption'>
                       <h4 style='color:#D99600'> Creative</h4>
                       <p style='color:#ffffff'>Bricto’s services are unique and innovative, which enables to convert ideas into reality.</p>
                    </div>
                 </div>
                 <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2'>
                    <img style='width:194px;height:194px' class='img-lazy img-responsive img-circle' data-original=adminpanel/Images/AboutUsImg/12know-how755199769.jpg width='194' height='194' src='' />
                    <noscript><img style='width:194px;height:194px' class='img-responsive img-circle' src=adminpanel/Images/AboutUsImg/12know-how755199769.jpg /></noscript>
                    <div class='caption'>
                       <h4 style='color:#D99600'> Know How</h4>
                       <p style='color:#ffffff'>When you look inside Bricto you will find that knowledge, experience, and versatility are the core of our values.</p>
                    </div>
                 </div>
                 <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2'>
                    <img style='width:194px;height:194px' class='img-lazy img-responsive img-circle' data-original=adminpanel/Images/AboutUsImg/13caring768214157.jpg width='194' height='194' src='' />
                    <noscript><img style='width:194px;height:194px' class='img-responsive img-circle' src=adminpanel/Images/AboutUsImg/13caring768214157.jpg /></noscript>
                    <div class='caption'>
                       <h4 style='color:#D99600'> Caring</h4>
                       <p style='color:#ffffff'>Here at Bricto, we strongly stand for providing customer care defined by a swift, reliable, and comprehensive customer experience.</p>
                    </div>
                 </div>
                 <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2'>
                    <img style='width:194px;height:194px' class='img-lazy img-responsive img-circle' data-original=adminpanel/Images/AboutUsImg/14Proactive615343848.jpeg width='194' height='194' src='' />
                    <noscript><img style='width:194px;height:194px' class='img-responsive img-circle' src=adminpanel/Images/AboutUsImg/14Proactive615343848.jpeg /></noscript>
                    <div class='caption'>
                       <h4 style='color:#D99600'> Proactive</h4>
                       <p style='color:#ffffff'>Years of experience have taught us that the key to every case can be found in careful planning and preparedness for every eventuality.</p>
                    </div>
                 </div>
                 <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2 col_last'>
                    <img style='width:194px;height:194px' class='img-lazy img-responsive img-circle' data-original=adminpanel/Images/AboutUsImg/15Devoted948310984.jpeg width='194' height='194' src='' />
                    <noscript><img style='width:194px;height:194px' class='img-responsive img-circle' src=adminpanel/Images/AboutUsImg/15Devoted948310984.jpeg /></noscript>
                    <div class='caption'>
                       <h4 style='color:#D99600'> Devoted</h4>
                       <p style='color:#ffffff'>All of us at Bricto are passionate about what we do, and with adding devotion to our passion, we deliver cases of outstanding quality and excellence to all our clients.</p>
                    </div>
                 </div>
                </div>
                <div class="col1 text-center" style="padding-bottom: 70px">
                    <input id="button" type="button" class="btn btn-primary btn-lg" value="GET STARTED WITH YOUR DESIGN PROJECT" onclick="location.href = '#';"  style="font-size:12px;">
                </div>
           </div>
        </section>
        </div>
    </section>

    <!-- bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>